@{
  Layout = "_Layout";
}
<div class="jumbotron" id="maindiv">
	<div class= "well">
		<h1> Welcome to the Word Counter</h1>
	</div>
	<form action="/count" method = "post">
		<div class="form-group">
			<label for="word">Please Enter the Word</label>
			<input id="word" name="word" type="text" />
		</div>
		<div class="form-group">
			<label for="word">Please Enter the Sentence</label>
			<input id="sentence" name="sentence" type="text" />
		</div>
		<button id="submit" type="submit" class="btn btn-primary btn-lg">Generate Count</button>
	</form>
	<div id = "result">
		@if(Model != null)
		{
			if((@Model.GetSentence() == "") && (@Model.GetWord() == ""))
			{
				<h3>Please enter a word and a sentence</h3>
			}
			else if(@Model.GetWord() == "")
			{
				<h3>Please enter a Word</h3>
			}
			else if(@Model.GetSentence() == "")
			{
				<h3>Please enter a Sentence</h3>
			}
			else
			{
				<h3>Your Count is : @Model.CountRepeats()</h3>
			}
		}
	</div>
</div>